@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding: var(--nav-height, 90px);
}

:root{
    --cta: #7732cf;
    --light-white: #f9f9f9;
    --white: #fff;
    --gray: #888;
    --light-gray: #eee;
    --dark-black: #081828;
    --light-black: #666;
    --footer-text: #D2D6DC;
    --glow-color: #fff;
}

body{
    scroll-padding: var(--nav-height, 90px);
    overflow: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    line-height: 1.5;
    font-size: 0.9375rem;
    font-family: 'Inter', sans-serif;
    background-color: var(--light-white);background: linear-gradient(-45deg, #7732cf, #d100bd, #7732cf, #d100bd);
    background-size: 600% 600%;
    animation: gradient 6s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* ---------------- ScrollBar ---------------- */

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-track {
    background: black; 
}
   
::-webkit-scrollbar-thumb {
    background: #7732cf; 
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgba(red, green, blue, 0); 
    border: 2px solid white;
    border-radius: 10px;
}

/* ---------------- Go-To Top ---------------- */

.go-top{
    position: fixed;
    bottom: 45px;
    right: 45px;
    font-size: 18px;
    width: 45px;
    height: 45px;
    color: var(--white);
    background: var(--cta);
    text-decoration: none;
    display: none;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    border-radius: 0.3rem;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    z-index: 100;
}
.go-top:hover{
    background: black;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    transition: all 300ms linear;
}

/* ---------------- Header ---------------- */

header{
    display: block;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    font-weight: 600;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    transition: all 700ms ease;
}


/* ---------------- Header On-Scroll Effect ---------------- */

.sticky-navbar{
    position: fixed; 
}

header.scrolling{
    padding: 0;
    font-weight: 600;
    height: fit-content;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    /* background: rgba(255, 255, 255, 0.45); */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    transition: all 700ms ease;
}

header.scrolling .nav-logo img{
    transition: all 800ms ease;
    padding: 0.625rem;
    opacity: 100;
    margin: 0;
}

header.scrolling .nav-list li a{
    color: black;
    /* color: var(--cta); */
}

header.scrolling .nav-list li a:hover{
    color: var(--cta);
}

header.scrolling .nav-list a::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    height: 0.1rem;
    background-color: var(--cta);
    transition: opacity 300ms, transform 300ms;
    transform-origin: center;
    transform: scale(0);
  }
  
header.scrolling li a:hover::after,
header.scrolling li a:focus::after{
    transform: scale(1);
}

/* ---------------- Navigation Menu ---------------- */

nav{
    /* display: grid; */ /* Use this to make navigation bar into a grid */
    /* grid-template-columns: 33.33% 33.33% 33.33%; */ 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 2.5%;
    /* background-color: aliceblue; */
}

/* ---------------- ---------- ---------------- */

.nav-logo{
    /* grid-column: 1;  */ /* Navigation Logo Assigned to Column 1 of 3 */
    display: flex;
    margin: 0rem;
    padding: 0rem;
    width: fit-content;
    align-items: center;
    justify-content: center;
    /* background-color: cyan; */
    transition: all 700ms ease;
}

.nav-logo img{  /* Resize the Navigation Iaage Here */
    opacity: 0;
    width: 5rem;
    height: 5rem;
    margin: 0rem;
}

/* ---------------- ---------- ---------------- */

.nav-menu{
    /* grid-column: 2;  */ /* Navigation Menu Assigned to Column 2 of 3 */
    display: block;
    padding: 0.625rem;
    margin: 0rem;
    justify-content: center;
    transition: all 700ms ease;
    /* background-color: #7732cf; */
}

.nav-list{
    display: flex;
    list-style-type: none;
    justify-content: center;
    /* background-color: aquamarine; */
}

.nav-list li{
    padding: 1.25rem;
    margin: 0rem;
}

.nav-list a{
    text-decoration: none;
    color: var(--white);
    display: block;
    position: relative;
    padding: 0.2em 0;
    margin: 0rem;
}

/* ---------------- ---------- ---------------- */

.extra-column{
    /* grid-column: 3; */ /* Navigation Item Assigned to Column 3 of 3 */
    display: block;
    opacity: 0;
}

/* ---------------- Navigation Menu Effect ---------------- */

.nav-list a::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    height: 0.1rem;
    background-color: var(--white);
    transition: opacity 300ms, transform 300ms;
    transform-origin: center;
    transform: scale(0);
}
  
.nav-list a:hover::after,
.nav-list a:focus::after{
    transform: scale(1);
}

/* ---------------- ---------- ---------------- */

section > .section-headers h1{
    font-size: 2.5rem;
    font-weight: 1000;
    padding: 3rem 0rem 1.5rem 0rem;
}

/* ---------------- Landing Section ---------------- */

.landing-pg{
    margin-top: var(--nav-height, 90px);
    display: flex;
    height: 100vh;
    /* padding: 3.13rem; */
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
}

/* ---------------- ---------- ---------------- */

.landing-pg > .left-column{
    flex-wrap: wrap;
    display: flex;
    width: 40%;
    padding: 2rem;
    align-items: center;
    height: fit-content;
    margin: 3.13rem 0rem;
}

.landing-pg > .left-column img{
    width: 75%;
    height: auto;
    border-radius: 1.25rem;
}

.landing-pg > .left-column h2{
    color: var(--white);
    font-size: 2.5rem;
    font-weight: 2.5rem;
}

.landing-pg > .left-column p{
    color: var(--white);
    font-weight: 200;
}

/* ---------------- ---------- ---------------- */

/* .landing-pg > .landing-pg-text {
    width: 100%;
    height: fit-content;
    color: var(--white);
}

.landing-pg > .left-column a{
    border-radius: 0.625rem;
    justify-content: center;
    align-items: center;
    color: var(--cta);
    padding: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    background-color: white;
}
.landing-pg > .left-column a:hover{
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    padding: 1.25rem;
    font-weight: 600;
    color: var(--cta);
} */

/* ---------------- ---------- ---------------- */

.glowing-btn {
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.35em 1em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    padding: 1.5rem;
    letter-spacing: 0.5em;
    
  
    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
  }
  
  .glowing-txt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
  }
  
.glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
}
  
.glowing-btn:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
}
  
.glowing-btn:hover .glowing-txt {
    animation: none;
}
  

  
.glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
}
  
.glowing-btn:hover:after {
    opacity: 1;
}
  
  
@keyframes text-flicker {
    0% {
      opacity: 0.5;
    }
  
    2% {
      opacity: 1;
    }
  
    8% {
      opacity: 0.5;
    }
  
    9% {
      opacity: 1;
    }
  
    12% {
      opacity: 0.5;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0.6;
    }
    30% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.7;
    }
    72% {
      opacity: 0.2;
    }
  
    77% {
      opacity: 0.9;
    }
    100% {
      opacity: 0.9;
    }
}
  
@keyframes border-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 1;
    }
    4% {
      opacity: 0.1;
    }
  
    8% {
      opacity: 1;
    }
    70% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .glowing-btn{
      font-size: 1em;
    }
  }
  
  .btn{
    text-decoration: none;
  }
.get-app a{
  text-decoration: none;
}

/* ---------------- ---------- ---------------- */

.landing-pg > .right-column{
    display: flex;
    width: 40%;
    padding: 2rem;
    height: fit-content;
    align-items: center;
    margin: 1.25rem 0rem;
    justify-content: center;
    /* background-color: var(--light-white); */
}

.landing-pg > .right-column img{
    width: 120%;
    height: auto;
}

/* ---------------- Features Section ---------------- */

.features-pg{
    background-color: var(--light-white);
    height: fit-content;
    width: 100%;
    display: block;
    text-align: center  ;
    align-items: center;
    justify-content: center;
    padding:  0rem 6% 0rem 6%;
}

/* ---------------- ---------- ---------------- */

.features-wrapper{
    display: flex;
    /* padding-top: 2rem; */
    justify-content: space-between;
    align-items: center;
}

.features-wrapper > .left-column,
.features-wrapper > .central-column,
.features-wrapper > .right-column{
    display: block;
    width: 30%;
    /* background-color: var(--light-gray); */
}

/* ---------------- ---------- ---------------- */

.feature {
    background-color: var(--white);
    border: 1px solid var(--light-gray);
    padding: 1.5rem;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 1rem;
    transition: all 500ms ease;
}

.feature:nth-child(2){
    margin-top: 2rem;
  }

.feature:hover{
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
  
.feature h3 {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;    
}
  
.feature p {
      font-size: 0.9rem;
      color: #666;
}
  
/* ---------------- ---------- ---------------- */

.center-column img {
      max-width: 100%;
      height: auto;
      padding: 2rem;
      border-radius: 10px;
}

/* ---------------- ---------- ---------------- */

.icon{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    height: 3.75rem;
    width: 3.75rem;
    display: flex;
    color: var(--white);
    align-items: center;
    border-radius: 0.4rem;
    justify-content: center;
    background-color: var(--cta);
}

/* ---------------- About Section ---------------- */

.about-pg{
    width: 100%;
    height: fit-content;
    padding: 2rem;
    /* overflow-y: scroll; */
    scroll-snap-type: y mandatory;
    background-color: var(--white);
}
  
.content-one{
    height: 100vh;
    padding: 3rem;
    display: flex;
    align-items: center;
}
  
.content-one > .left-column {
    padding: 2rem;
    width: 50%;
}

.content-one > .left-column h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
  
.content-one > .left-column p {
    font-size: 1.1em;
    line-height: 1.6;
}
 
.content-one > .right-column {
    padding: 2rem;
    width: 50%;
}

.content-one > .right-column img {
    width: 100%;
    height: auto;
    padding: 5rem;
    border-radius: 8px;
}

/* ---------------- ---------- ---------------- */

.content-two{
    height: 100vh;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: left;
}
.content-two > .left-column {
    padding: 2rem;
    width: 50%;
}

.content-two > .left-column img {
    width: 90%;
    height: auto;
    padding: 5rem;
    border-radius: 8px;
}

.content-two > .right-column {
    padding: 2rem;
    width: 50%;
}

.content-two > .right-column h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
  
.content-two > .right-column p {
    font-size: 1.1em;
    line-height: 1.6;
}
  
/* ---------------- Download Section ---------------- */

.download-pg {
    display: block;

    text-align: center;
    width: 100%;
    height: 80vh;
    background-color: var(--cta);
}

/* ---------------- ---------- ---------------- */

.download-pg h1 {
    color: var(--white);
}

.download-pg h2 {
    font-size: 1.5rem;
    color: var(--white);
    margin-bottom: 2rem;
}

/* ---------------- ---------- ---------------- */

.download-wrapper {
    display: flex;
    margin: 2rem;
    padding: 2rem;
    justify-content: space-evenly;
}

/* ---------------- ---------- ---------------- */
    
.download-wrapper > .left-column,
.download-wrapper > .right-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* ---------------- ---------- ---------------- */

.vertical-line{
    border-left: 1px solid var(--white);
    height: 40vh;

}

/* ---------------- ---------- ---------------- */

.download-btn{
    width: 90%;
    /* padding: 3rem; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
}

/* ---------------- ---------- ---------------- */

.left-column > .download-btn a{
    text-decoration: none;
    color: var(--cta);
    font-size: 1.25rem;
    font-weight: 600;
    display: block; 
    margin: 2rem 0rem;
    padding: 1.5rem 3rem;
    border-radius: 0.625rem;
    background-color: var(--white);
    border: 1px solid var(--white);
    transition: all 300ms ease;
}

.right-column > .download-btn a{
    text-decoration: none;
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 600;
    display: block; 
    margin: 2rem 0rem;
    padding: 1.5rem 3rem;
    border-radius: 0.625rem;
    background-color: transparent;
    border: 1px solid var(--white);
    transition: all 300ms ease;
}

.download-btn a:hover{
    text-decoration: none;
    color: var(--white);
    border: 1px solid var(--dark-black);
    background-color: var(--dark-black);
  }

/* ---------------- ---------- ---------------- */

#playstore-icon{
    font-size: 1.3rem;
    margin: 0rem 1rem;
}

#apple-icon{
    margin: 0rem 1rem;
    font-size: 1.8rem;
}

/* ---------------- Contact Section ---------------- */


.contact-pg{
    color: #ffffff;
    background-color: #252525;
}
.contact-pg img{
    width: 20rem;
    height: auto;
    padding: 5rem;
    border-radius: 8px;
}
.footer-content {
    display: flex;
    padding: 40px;
    justify-content: space-evenly;
}

.footer-column {
    flex: 1;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-column ul {
    padding: 0;
    list-style-type: none;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #999999;
    font-size: 14px;
    text-decoration: none;
}

.footer-column ul li a:hover {
    color: #ffffff;
}

.bottom-bar {
    text-align: center;
    color: #666666;
    padding: 10px;
    font-size: 12px;
    background-color: #1a1a1a;
}

.bottom-bar a {
    color: #666666;
    text-decoration: none;
}

.bottom-bar a:hover {
    color: #ffffff;
}
/* ---------------- Carousel Effect ---------------- */

/* .carousel-container {
    position: relative;
    width: 80%;
    max-width: 1200px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
  
.carousel-slide {
    min-width: 100%;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    background-color: #ccc;
    border-right: 1px solid #bbb;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}
  
.prev {
    left: 10px;
}
  
.next {
    right: 10px;
}
  
.carousel-indicators {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}
  
.indicator {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
}
  
.indicator.active {
    background-color: white;
}
  
.slide1 {
    background-color: #444;
    background-image: url("./Assets/img-1.png");
}
  
.slide2 {
    background-image: url("./Assets/img-2.png");
}
  
.slide3 {
    background-color: #444;
    background-image: url("./Assets/img-3.png");
}
  
.slide4 {
    background-image: url("./Assets/img-1.png");
}
  
.slide5 {
    background-color: #444;
    background-image: url("./Assets/img-2.png");
}
  
.slide6 {
    background-image: url("./Assets/img-3.png");
} */