@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --cta: #7732cf;
    --light-white: #f9f9f9;
    --white: #fff;
    --gray: #888;
    --light-gray: #eee;
    --dark-black: #081828;
    --light-black: #666;
    --footer-text: #D2D6DC;
}
body{

    line-height: 1.5;
    height: 100vh;
    width: 100%;
    font-size: 0.9375rem;
    font-family: 'Inter', sans-serif;
    background-color: var(--light-black);
}
.bg-container {
    background: linear-gradient(-45deg, #7732cf, #d100bd, #7732cf, #d100bd);
    background-size: 600% 600%;
    animation: gradient 6s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* ---------------- ScrollBar ---------------- */

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  ::-webkit-scrollbar-track {
    background: black; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #7732cf; 
    /* border: 2px solid white; */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(red, green, blue, 0); 
    border: 2px solid white;
    border-radius: 10px;
  }

/* ---------------- Header ---------------- */

header{
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    display: grid;
    font-weight: 700;
    height: fit-content;
    align-items: center;
    background: transparent;
    grid-template-columns: 33.33% 33.33% 33.33%;
    transition: all 700ms ease;
}

/* ---------------- Header Scroll Animation ---------------- */
.sticky-navbar{
    position: fixed;
}
header.scrolling{
    padding: 0;
    height: fit-content;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.45);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border: 1px solid rgba(255, 255, 255, 0.51);
    transition: all 700ms ease;
}
header.scrolling .brand-logo{
    transition: all 800ms ease;
    opacity: 100;
    margin: 0;
}
header.scrolling .nav-list li a{
    color: white;
}
header.scrolling .nav-list li a:hover{
    color: var(--cta);
}

header.scrolling .nav-list a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background-color: var(--white);
    transition: opacity 300ms, transform 300ms;
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }
  
header.scrolling li a:hover::after,
header.scrolling li a:focus::after{
    transform: scale(1);
}


/* ---------------- Navigation Hover Effect ---------------- */

.nav-list a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background-color: var(--white);
    transition: opacity 300ms, transform 300ms;
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }
  
  .nav-list a:hover::after,
  .nav-list a:focus::after {
    transform: scale(1);
  }
/* ---------------- Navigation ---------------- */

.brand-logo{
    grid-column: 1;
    display: block;
    align-items: center;
    opacity: 0;
    /* padding: 0.625rem 0.625rem 0.313rem 0.625rem; */
}
.brand-logo img{
    width: 4rem;
    height: 4rem;
    margin: 0.625rem 0.625rem 0.625rem 0.625rem;
}
.nav-menu{
    grid-column: 2;
    display: block;
    padding: 0.625rem;
}
.nav-list{
    display: flex;
    list-style-type: none;
    justify-content: center;
}
.nav-list li{
    padding: 1.25rem;
}
.nav-list li a{
    text-decoration: none;
    color: var(--white);
    display: block;
    position: relative;
    padding: 0.2em 0;
}
