@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --cta: #7732cf;
    --light-white: #f9f9f9;
    --white: #fff;
    --gray: #888;
    --light-gray: #eee;
    --dark-black: #081828;
    --light-black: #666;
    --footer-text: #D2D6DC;
}
html{
    scroll-behavior: smooth;
    /* scroll-padding: var(--scroll-padding, 91px); */
    scroll-padding: 91px;
}
body{
    overflow: auto;
    line-height: 1.5;
    height: 100vh;
    width: 100%;
    font-size: 0.9375rem;
    font-family: 'Inter', sans-serif;
    background-color: var(--white);
    background: linear-gradient(-45deg, #7732cf, #d100bd, #7732cf, #d100bd);
    background-size: 600% 600%;
    animation: gradient 6s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* ---------------- ScrollBar ---------------- */

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  ::-webkit-scrollbar-track {
    background: black; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #7732cf; 
    /* border: 2px solid white; */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(red, green, blue, 0); 
    border: 2px solid white;
    border-radius: 10px;
  }

/* ---------------- Header ---------------- */

header{
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 10;
    display: block;
    font-weight: 600;
    /* height: fit-content; */
    align-items: center;
    background: transparent;
    transition: all 700ms ease;
}

/* ---------------- Header Scroll Animation ---------------- */
.sticky-navbar{
    position: fixed;
}
header.scrolling{
    padding: 0;
    height: fit-content;
    align-items: center;
    justify-content: center;
    /* background-color: var(--white); */
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border: 0px solid rgba(255, 255, 255, 0.51);
    transition: all 700ms ease;
}
header.scrolling .brand-logo{
    transition: all 800ms ease;
    opacity: 100;
    margin: 0;
}
header.scrolling .nav-list li a{
    /* color: black; */
    color: var(--white);
}
header.scrolling .nav-list li a:hover{
    color: var(--cta);
}

header.scrolling .nav-list a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background-color: var(--cta);
    transition: opacity 300ms, transform 300ms;
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }
  
header.scrolling li a:hover::after,
header.scrolling li a:focus::after{
    transform: scale(1);
}

/* ---------------- Navigation Hover Effect ---------------- */

.nav-list a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background-color: var(--white);
    transition: opacity 300ms, transform 300ms;
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }
  
  .nav-list a:hover::after,
  .nav-list a:focus::after{
    transform: scale(1);
  }
/* ---------------- Navigation ---------------- */

nav{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}
.brand-logo{
    grid-column: 1;
    display: block;
    align-items: center;
    opacity: 0;
}
.brand-logo img{
    width: 4rem;
    height: 4rem;
    margin: 0.625rem 0.625rem 0.625rem 0.625rem;
}
.nav-menu{
    grid-column: 2;
    display: block;
    padding: 0.625rem;
}
.nav-list{
    display: flex;
    list-style-type: none;
    justify-content: center;
}
.nav-list li{
    padding: 1.25rem;
}
.nav-list li a{
    text-decoration: none;
    color: var(--white);
    display: block;
    position: relative;
    padding: 0.2em 0;
}

/* ---------------- Landing Page ---------------- */

.landing{
    overflow: hidden;
    display: flex;
    width: 90%;
    min-height: 100vh;
    padding-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}
.main-logo{
    display: block;
    width: 50%;
    height: fit-content;
    padding: 1.25rem;;
}
.main-logo img{
    border-radius: 1.25rem;
    height: 350px;
}
.phone-img{
    display: block;
    width: 50%;
    padding: 1.25rem;
}
.landing-pg-text h1{
    color: var(--white);
    font-size: 2.5rem;
    font-weight: 2.5rem;
}
.landing-pg-text p{
    color: var(--white);
    font-weight: 200;
    width: 80%;
}
.landing-pg-text a{
    border-radius: 0.625rem;
    justify-content: center;
    align-items: center;
    color: var(--cta);
    padding: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    background-color: white;
}
.landing-pg-text a:hover{
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    padding: 1.25rem;
    font-weight: 600;
    color: var(--cta);
}


/* ---------------- Features Section ---------------- */

.features{
    overflow: hidden;
    min-height: 100vh;
    background-color: var(--dark-black);
}


/* ---------------- MediaQuery ---------------- */
